* {
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://i.pinimg.com/originals/5d/74/ce/5d74cea75d09a1e7eafc7ce2a1a05284.jpg);
    background-size:cover ;
    background-repeat: no-repeat;

}
.header img{
    margin-left: 260px;
}
.main .navbar{
    margin-top:250px ;
    margin:0 106px;
    width: 1140px;
    height: 48px;
    display: flex;
    align-items: center;
   
}

.main .navbar ul{
    display: flex;
    justify-content: space-between;
        
}
.main .navbar ul li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 48px;    
    background: cornflowerblue;
    padding: 0 28px;
    border: 1px solid rgb(209, 208, 208);
}
.main .navbar ul .navbar-home i{
    font-size: 19px;
    margin-right: 8px;
}    

.main .navbar ul li a i{
    color: white;
    margin-left: 10px;
    margin-bottom: 8px;
    font-size: 17px;
}
.main .navbar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14px;
    
}
.main .navbar ul .navbar-home {
    background: #dc2f02;
}
.main .navbar ul .navbar-gioithieu {
    background: #70e000;
}
.main .navbar ul .navbar-child {
    background: #64b5f6;
}
.main .navbar ul .navbar-phuhuynh {
    background: #1976d2;
}
.main .navbar ul .navbar-active {
    background: #0353a4;
}
.main .navbar ul .navbar-tuyensinh {
    background: #ff477e;
}
.main .navbar ul .navbar-thuvien {
    background: #ffd60a;
}
.main .navbar ul .navbar-lienhe {
    background: #aacc00;
}
.main .navbar ul li:hover {
    transform: translateY(1.5px);
    background: white;
}
.main .navbar ul li:hover a{
    color:black
}
.main .navbar ul li:hover i{
    color: black;
}


