@media  screen and (max-width: 740px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
    .undisplay{
        display: none;
    }
    .header-img img{
        width: 100%;
    }
    .content-studychilds__big{
        margin:2px;
    }
    .content-studychilds__big img{
        width: 90%;
        height: 50%;
        margin: 2px;
    }
    .content-event__note{
        padding: 5px;
    }
    .content-event__note p{
        margin-top: 2px;
    }
    .grid-col .col-content{
        margin-top: 2px;
    }
    .tuvan h4{
        font-size: 22px;
    }
    .tuvan p{
        font-size: 14px;
    }
    .grid-col .col-content{
        font-size: 12px;
        margin-top: 0px;
    }
    .col-img{
        display: block;
        height: 160px;
        padding: 10px 10px;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .col-img img{
        max-width: 100%;
        border-radius: 4px;
        margin-bottom: 2px;
        cursor: pointer;
        transition: all 0.3s ease-in-out ;
        filter:  saturate(120%);
        filter: brightness(110%);
        animation: tung 5s 5s ease infinite;
    }
    .col-img img:hover{
        transform: scale(1.5);
    }
    @keyframes tung {
        from{
            transform: scale(1);
        }
        to{
        transform: scale(1.7);    
        }
        
    }
    .content-studychilds__big p{
        font-size: 12px;
    }
    .nav__bars-btn{
        display: block;
    }


}